<div class="well">
  <ul class="list-group sortable">
    {{#each item in controller}}
      <li class="list-group-item item" data-id="{{unbound item.id}}">
        {{item.title}}
      </li>
    {{/each}}
  </ul>
</div>
